body{
    margin: 0;
    padding: 0;
    background: #68ebff;
    height: 100%;
    width: 100%;
    }

.main{
    float: right;
    height: 100vh;
    width: calc(100% - 300px);
}

header{
    display: flex;
    justify-content: space-between;
    text-align: end;
    height: 40px;
    padding: 20px;
    margin: 0px;
}

#createButton{
    color: #ffffff;
    background: #633eea;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    cursor: pointer;   
    transition: .3s ease;     
}
#createButton:hover{
    background-color: #5224a5;

}

.busDetails{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

input[type="text"],#busType,#seatCount,#time,#sourcePlace,#destinationPlace{
    width: 200px;
    height: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px black;
    border: 0;
}

.travelDetails{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.scrollingEffect{
    text-align: left;
    padding: 20px;
    margin: 0px;
    overflow-y: auto;
    height: calc(100vh - 230px);
}

.mid{
    position: relative;
    min-height: calc(100vh - 175px);
    margin: 20px;
    text-align: center;
    border: 2px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #998787;
    display: block;
    background: white;
    padding-bottom: 40px;

}
#createForm {
    display: inline-block;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0px 20px 0px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: auto;
}

.submitBtnDiv{
    display: flex;
    justify-content: center;

}

.submitBtnDiv input[type="submit"]:hover{
    background-color: #5224a5;
}

#seatBookForm{
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0px 20px 0px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: auto;
}