body{
    margin: 0;
    padding: 0;
    background: #68ebff;
    height: 100%;
    width: 100%;
    }

.main{
    float: right;
    height: 100vh;
    width: calc(100% - 300px);
}
.busDetails,.travelDetails {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    margin-bottom: 5px; 
  }
  
  .group-form {
    display: flex;
    flex-basis: calc(33.333% - 20px);
    max-width: calc(33.333% - 20px); 
  }
  
  .group-form label {
    margin-bottom: 2px; 
    font-weight: bold;
  }
  
  .group-form input,
  .group-form select {
    width: 310px; 
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc; 
    box-shadow: 0px 0px 5px gray;
  }

  

header{
    display: flex;
    justify-content: space-between;
    text-align: end;
    height: 40px;
    padding: 20px;
    margin: 0px;
}

#createButton{
    color: #ffffff;
    background-color: #633eea;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    cursor: pointer;   
}
#createButton:hover{
    background-color: #5224a5;

}
.scrollingEffect{
    text-align: left;
    padding: 20px;
    margin: 0px;
    overflow-y: auto;
    height: calc(100vh - 211px);
}

.mid{
    position: relative;
    height: calc(100vh - 151px);
    margin: 20px;
    text-align: center;
    border: 2px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #998787;
    display: block;
    background: white;
    padding-bottom: 40px;
    overflow: auto;

}
#createForm {
    display: inline-block;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0px 20px 0px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: auto;
}

.submitBtnDiv{
    display: flex;
    justify-content: center;
    margin: 0px;

}

.submitBtnDiv input[type="submit"]:hover{
    background-color: #5224a5;
}

#seatBookForm{
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0px 20px 0px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: auto;
}